ul, ol {
  list-style-type: none;
}

.pane-short .heading {
  margin: 15px 6px 10px 6px;
}

.pane-short .container {
  padding: 15px 8px 12px 4px;
}

.pane-short .para {
  padding: 10px;
}

.pane-short .short-para {
  width: 65%;
  border: 1px solid gold;
  margin: 12px 74px;

  padding: 4px 4px;
}

.pane-short .list {
  padding: 0px 0px 0px 2px;
}

.pane-short .list li {
  margin: 7px 0 15px 10px;
}

.pane-short .navigation {
  margin: 5px 15px 5px 45px;
}

.pane-short .anchor-list {
  margin: 0px;
}

.pane-short .anchor-list li {
  display: inline-block;
  margin: 0 5px;
}